.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 40rem) {
    .photoPost {
        grid-template-columns: 1fr;
    }
}

.file {
    margin-bottom: 1rem;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
}
.textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: var(--type-first);
    resize: none;
    border: 1px solid #eee;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background: #eee;
    transition: 0.2s;
    margin-bottom: 1rem;
}

.textarea:focus,
.textarea:hover {
    outline: none;
    border-color: #fb1;
    background: white;
    box-shadow: 0 0 0 3px #fea;
}

.button {
    border: none;
    cursor: pointer;
    color: #333;
    background: transparent;
    font-size: 1rem;
    padding: 0 1rem;
    overflow: hidden;
    transform: scale(1.4);
    margin: -2px 0 0 10px;
}

.preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}

.preview::after {
    content: "";
    display: block;
    height: 0px;
    padding-bottom: 100%;
}
