.footer {
    background: #fb1;
    padding: 2rem 1rem 0 1rem;
    height: 12rem;
    text-align: center;
    color: #764701;
}

.footer p {
    margin-top: 1rem;
}

.footer a {
    color: #764701;
}

.links {
    font-size: 0.8rem;
    text-decoration: underline;
}

.footer svg {
    margin-bottom: -2.2rem;
}
.logoFooterText {
    margin: -1rem 0 0 0.5rem;
    font-weight: bold;
    font-family: var(--type-second);
}
