.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    top: 0px;
    margin-left: 0.2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    padding: 0.5rem 0;
    /*margin-top: 0.5rem;*/    
    transform: scale(1.1);
}

.logoText {
    margin: -1rem 0 0 -0.2rem;
    font-weight: bold;
    font-family: --type-second;
    text-align: center;
}

.about {
    color: #333;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}

.about::before {
    content: '';
    display: inline-block;
    height: 15px;
    margin-right: .5rem;
    margin-left: .5rem;
    position: relative;
    top: -3px;
    width: 2px;
    background: #333;
    margin-top: 5px;
}

.login {
    color: #333;
    display: flex;    
    align-items: center;
    text-transform: capitalize;
}

.login::after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('../Assets/user.svg') no-repeat center center;
    margin-left: 00.5rem;
    position: relative;
    top: -1px;
}
